.pricing__title {
    font-family: var(--semi-bold);
    color: var(--black);
    text-align: center;
}

.pricing__list {
    display: grid;
}

.pricing__item {
    display: grid;
}

.pricing__item-image--test, .pricing__item-image--lesson, .pricing__item-image--webinar {
    align-self: flex-end;
}

.pricing__item-image {
    width: 100%;
    height: auto;
}

.pricing__item-title {
    font-family: var(--semi-bold);
    color: #263238;
}

.pricing__item-description {
    font-family: var(--regular);
    color: #8F95A5;
}

.pricing__item-cost {
    margin: 0;
    padding: 5px 20px;
    display: inline-block;
    background-color: #EEEEEE;
    font-family: var(--regular);
    color: #546269;
    border: none;
    border-radius: 5px;
}

.pricing__item-cost--span {
    color: #263238;
}


@media (min-width: 993px) {
    .pricing {
        padding: 0 130px;
        margin-bottom: 255px;
    }

    .pricing__title {
        margin: 0 0 80px;
        font-size: 48px;
    }

    .pricing__list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 55px;
    }

    .pricing__item {
        grid-template-rows: 290px 1fr auto;
    }

    .pricing__item-image--test {
        max-width: 311px;
    }

    .pricing__item-image--lesson {
        max-width: 391px;
    }

    .pricing__item-image--webinar {
        max-width: 340px;
    }

    .pricing__item-title {
        margin: 0 0 30px;
        font-size: 30px;
    }

    .pricing__item-description {
        margin: 0 0 35px;
        font-size: 20px;
    }

    .pricing__item-cost {
        font-size: 18px; 
    }

    .pricing__item-cost--span {
        font-size: 30px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .pricing {
        padding: 0 30px;
        margin-bottom: 141px;
    }

    .pricing__title {
        margin: 0 0 25px;
        font-size: 36px;
    }

    .pricing__list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 45px;
    }

    .pricing__item {
        grid-template-rows: 242px 1fr auto;
    }

    .pricing__item-image--test {
        max-width: 222px;
    }

    .pricing__item-image--lesson {
        max-width: 267px;
    }

    .pricing__item-image--webinar {
        max-width: 242px;
    }

    .pricing__item-title {
        margin: 0 0 15px;
        font-size: 22px;
    }

    .pricing__item-description {
        margin: 0 0 30px;
        font-size: 16px;
    }

    .pricing__item-cost {
        font-size: 16px; 
    }

    .pricing__item-cost--span {
        font-size: 24px;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .pricing {
        padding: 0 35px;
        margin-bottom: 94px;
    }

    .pricing__title {
        margin: 0 0 30px;
        font-size: 30px;
    }

    .pricing__list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 36px;
    }

    .pricing__item {
        grid-template-rows: 210px 1fr auto;
    }

    .pricing__item-image--test {
        max-width: 197px;
    }

    .pricing__item-image--lesson {
        max-width: 219px;
    }

    .pricing__item-image--webinar {
        max-width: 210px;
    }

    .pricing__item-title {
        margin: 0 0 15px;
        font-size: 20px;
    }

    .pricing__item-description {
        margin: 0 0 25px;
        font-size: 14px;
    }

    .pricing__item-cost {
        font-size: 16px; 
    }

    .pricing__item-cost--span {
        font-size: 22px;
    }
}


@media (min-width: 321px) and (max-width: 575px) {
    .pricing {
        padding: 0 35px;
        margin-bottom: 163px;
    }

    .pricing__title {
        margin: 0 0 80px;
        font-size: 30px;
    }

    .pricing__list {
        grid-template-rows: repeat(3, 1fr);
        row-gap: 71px;
        justify-items: center;
    }

    .pricing__item {
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        text-align: center;
        max-width: 400px;
    }

    .pricing__item-image--test {
        max-width: 291px;
    }

    .pricing__item-image--lesson {
        max-width: 314px;
    }

    .pricing__item-image--webinar {
        max-width: 253px;
    }

    .pricing__item-title {
        margin: 0 0 25px;
        font-size: 24px;
    }

    .pricing__item-description {
        margin: 0 0 30px;
        font-size: 14px;
    }

    .pricing__item-cost {
        font-size: 16px; 
    }

    .pricing__item-cost--span {
        font-size: 22px;
    }
}


@media (max-width: 320px) {
    .pricing {
        padding: 0 16px;
        margin-bottom: 90px;
    }

    .pricing__title {
        margin: 0 0 75px;
        font-size: 24px;
    }

    .pricing__list {
        grid-template-rows: repeat(3, 1fr);
        row-gap: 63px;
        justify-items: center;
    }

    .pricing__item {
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        text-align: center;
        max-width: 275px;
    }

    .pricing__item-image--test {
        max-width: 248px;
    }

    .pricing__item-image--lesson {
        max-width: 257px;
    }

    .pricing__item-image--webinar {
        max-width: 241px;
    }

    .pricing__item-title {
        margin: 0 0 20px;
        font-size: 18px;
    }

    .pricing__item-description {
        margin: 0 0 35px;
        font-size: 13px;
    }

    .pricing__item-cost {
        font-size: 14px; 
    }

    .pricing__item-cost--span {
        font-size: 18px;
    }
}