.skills__title {
    font-family: var(--semi-bold);
    color: var(--black);
    text-align: center;
}

.skills__offers {
    display: grid;
}

.skills__offer {
    display: grid;
    background-color: #F5F5F5;
    border: none;
    border-radius: 10px;
}

.skills__offer-image {
    width: 100%;
    height: auto;
}

.skills__offer-title {
    font-family: var(--semi-bold);
    color: #263238;
}

.skills__offer-description {
    font-family: var(--regular);
    color: #8F95A5;
}

.skills__offer-button {
    background-color: #263238;
    font-family: var(--medium);
    color: var(--white);
    border: none;
    border-radius: 5px;
    align-self: flex-end;
}    


@media (min-width: 993px) {
    .skills {
        padding: 0 30px;
        margin-bottom: 250px;
    }

    .skills__title {
        margin: 0 0 92px;
        font-size: 48px;
    }
    
    .skills__offers {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        gap: 18px;
    }

    .skills__offer {
        grid-template-rows: 295px repeat(2, auto);
        padding: 0 45px;
    }

    .skills__offer--speaking {
        grid-row: span 2;
    }

    .skills__offer--listening {
        padding-top: 40px;
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .skills__offer-image--speaking {
        max-width: 390px;
        align-self: center;
    }

    .skills__offer-image--writing {
        max-width: 293px;
        align-self: center; 
        /* justify-self: flex-end; */
    }
    
    .skills__offer-image--reading {
        max-width: 371px;
        align-self: center;
        /* justify-self: flex-start; */
    }

    .skills__offer-image--listening {
        grid-column: 2;
        grid-row: 1 / span 2;
        align-self: flex-end;
        /* justify-self: flex-end; */
        max-width: 382px;
    }

    .skills__offer-info--speaking {
        margin-top: 30px;
    }
    
    .skills__offer-title {
        margin: 0 0 25px;
        font-size: 30px;
    }
    
    .skills__offer-description {
        margin: 0 0 25px;
        font-size: 16px;
    }
    
    .skills__offer-button {
        margin-bottom: 25px;
        padding: 15px 51px;
        font-size: 20px;
        max-width: 218px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .skills {
        padding: 0 30px;
        margin-bottom: 106px;
    }

    .skills__title {
        margin: 0 0 80px;
        font-size: 36px;
    }
    
    .skills__offers {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        gap: 13px;
    }

    .skills__offer {
        grid-template-rows: 220px repeat(2, auto);
        padding: 0 20px;
    }

    .skills__offer--speaking {
        grid-row: span 2;
    }

    .skills__offer--listening {
        padding-top: 30px;
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .skills__offer-image--speaking {
        max-width: 260px;
        align-self: center;
    }

    .skills__offer-image--writing {
        max-width: 205px;
        align-self: center; 
        justify-self: flex-end;
    }
    
    .skills__offer-image--reading {
        max-width: 243px;
        align-self: center;
        justify-self: flex-start;
    }

    .skills__offer-image--listening {
        grid-column: 2;
        grid-row: 1 / span 2;
        align-self: flex-end;
        max-width: 254px;
    }

    .skills__offer-info--speaking {
        margin-top: 20px;
    }
    
    .skills__offer-title {
        margin: 0 0 20px;
        font-size: 22px;
    }
    
    .skills__offer-description {
        margin: 0 0 20px;
        font-size: 14px;
    }
    
    .skills__offer-button {
        margin-bottom: 25px;
        padding: 16px 42px;
        font-size: 18px;
        max-width: 196px;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .skills {
        padding: 0 35px;
        margin-bottom: 84px;
    }

    .skills__title {
        margin: 0 0 34px;
        font-size: 30px;
    }
    
    .skills__offers {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    }

    .skills__offer {
        grid-template-rows: 220px repeat(2, auto);
        padding: 0 15px;
    }

    .skills__offer--speaking {
        grid-row: span 2;
    }

    .skills__offer--listening {
        padding-top: 30px;
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .skills__offer-image--speaking {
        max-width: 214px;
        align-self: center;
    }

    .skills__offer-image--writing {
        max-width: 200px;
        align-self: center; 
    }
    
    .skills__offer-image--reading {
        max-width: 216px;
        align-self: center;
    }

    .skills__offer-image--listening {
        grid-column: 2;
        grid-row: 1 / span 2;
        align-self: flex-end;
        max-width: 202px;
    }
    
    .skills__offer-title {
        margin: 0 0 20px;
        font-size: 20px;
    }
    
    .skills__offer-description {
        margin: 0 0 20px;
        font-size: 13px;
    }
    
    .skills__offer-button {
        margin-bottom: 20px;
        padding: 14px 43px;
        font-size: 16px;
        max-width: 178px;
    }
}


@media (min-width: 321px) and (max-width: 575px) {
    .skills {
        padding: 0 35px;
        margin-bottom: 52px;
    }

    .skills__title {
        margin: 0 0 60px;
        font-size: 30px;
    }

    .skills__offers {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, minmax(534px, 550px));
        gap: 30px;
    }

    .skills__offer {
        grid-template-rows: 1fr 3fr 1fr;
        padding: 35px 20px;
    }

    .skills__offer-image--speaking {
        max-width: 185px;
    }

    .skills__offer-image--writing {
        max-width: 182px;
    }
    
    .skills__offer-image--reading {
        max-width: 198px;
    }

    .skills__offer-image--listening {
        max-width: 206px;
    }
    
    .skills__offer-title {
        margin: 20px 0;
        font-size: 18px;
    }
    
    .skills__offer-description {
        margin: 0;
        font-size: 12px;
    }
    
    .skills__offer-button {
        padding: 14px 54px;
        font-size: 14px;
        max-width: 200px;
        justify-self: flex-start;
    }    
}


@media (max-width: 320px) {
    .skills {
        padding: 0 16px;
        margin-bottom: 50px;
    }

    .skills__title {
        margin: 0 0 60px;
        font-size: 24px;
    }

    .skills__offers {
        grid-template-columns: 1fr;
        grid-template-rows: 600px repeat(3, 473px);
        row-gap: 21px;
    }

    .skills__offer {
        grid-template-rows: repeat(3, auto);
        padding: 35px 20px;
    }

    .skills__offer-image-container {
        justify-self: center;
    }

    .skills__offer-image--speaking {
        max-width: 213px;
    }

    .skills__offer-image--writing {
        max-width: 204px;
    }
    
    .skills__offer-image--reading {
        max-width: 236px;
    }

    .skills__offer-image--listening {
        max-width: 232px;
    }

    .skills__offer-info {
        align-self: flex-end;
    }
    
    .skills__offer-title {
        margin: 0 0 15px;
        font-size: 18px;
    }
    
    .skills__offer-description {
        margin: 0 0 40px;
        font-size: 13px;
    }
    
    .skills__offer-button {
        padding: 14px 54px;
        font-size: 14px;
        max-width: 200px;
    }    
}