.about-us {
    display: grid;
}

.about-us__features {
    display: flex;
    text-align: center;
}

.about-us__feature-title {
    font-weight: 600;
    color: var(--feature-title-color);
}

.about-us__feature-description {
    margin: 0;
    font-weight: 400;
    color: var(--description-color);
}

.about-us__image {
    width: 100%;
    height: auto;
}


@media (min-width: 993px) {
    .about-us {
        margin-bottom: 188px;
        padding: 0 140px 0 131px;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(3, auto);
    }

    .about-us__title {
        margin: 0 0 42px;
        font-size: 48px;
    }

    .about-us__description {
        margin: 0 0 46px;
        font-size: 20px;
        max-width: 635px;
    }

    .about-us__features {
        margin-bottom: 41px;
        justify-content: left;
    }

    .about-us__feature:not(:last-child) {
        margin-right: 80px;
    }

    .about-us__feature-title {
        margin: 0 0 20px;
        font-size: 48px;
    }

    .about-us__feature-description {
        font-size: 20px;
    }

    .about-us__image-container {
        grid-column: 2;
        grid-row: 1 / span 3;
        max-width: 500px;
        align-self: flex-end;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .about-us {
        margin-bottom: 121px;
        padding: 0 22px 0 31px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    .about-us__title {
        margin: 0 0 42px;
        font-size: 36px;
    }

    .about-us__description {
        margin: 0 0 45px;
        font-size: 16px;
        max-width: 530px;
    }

    .about-us__features {
        justify-content: left;
        margin-bottom: 23px;
    }

    .about-us__feature:not(:last-child) {
        margin-right: 60px;
    }

    .about-us__feature-title {
        margin: 0 0 15px;
        font-size: 30px;
    }

    .about-us__feature-description {
        font-size: 16px;
    }

    .about-us__image-container {
        grid-column: 2;
        grid-row: 1 / span 3;
        max-width: 336px;
        align-self: flex-end;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .about-us {
        margin-bottom: 110px;
        padding: 0 34px 0 39px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    .about-us__title {
        margin: 0 0 25px;
        font-size: 30px;
    }

    .about-us__description {
        margin: 0 0 40px;
        font-size: 14px;
        max-width: 325px;
    }

    .about-us__features {
        justify-content: left;
    }

    .about-us__feature:not(:last-child) {
        margin-right: 50px;
    }

    .about-us__feature-title {
        margin: 0 0 20px;
        font-size: 22px;
    }

    .about-us__feature-description {
        font-size: 13px;
    }

    .about-us__image-container {
        grid-column: 2;
        grid-row: 1 / span 3;
        max-width: 295px;
        align-self: center;
    }
}


@media (min-width: 321px) and (max-width: 575px) {
    .about-us {
        margin-bottom: 150px;
        padding: 0 33px;
        grid-template-rows: repeat(4, auto);
        text-align: center;
    }

    .about-us__title {
        margin: 0 0 50px;
        font-size: 30px;
        grid-row: 1;
    }

    .about-us__description {
        margin: 0 0 50px;
        font-size: 14px;
        max-width: 510px;
    }

    .about-us__features {
        justify-content: space-around;
    }

    .about-us__feature-title {
        margin: 0 0 15px;
        font-size: 24px;
    }

    .about-us__feature-description {
        font-size: 14px;
    }

    .about-us__image-container {
        grid-row: 2;
        max-width: 352px;
        justify-self: center;
        margin-bottom: 25px;
    }
}


@media (max-width: 320px) {
    .about-us {
        margin-bottom: 105px;
        padding: 0 18px;
        grid-template-rows: repeat(4, auto);
        text-align: center;
    }

    .about-us__title {
        margin: 0 0 55px;
        font-size: 24px;
        grid-row: 1;
    }

    .about-us__description {
        margin: 0 0 37px;
        font-size: 13px;
    }

    .about-us__features {
        flex-direction: column;
    }

    .about-us__feature:not(:last-child) {
        margin-bottom: 52px;
    }

    .about-us__feature-title {
        margin: 0 0 15px;
        font-size: 24px;
    }

    .about-us__feature-description {
        font-size: 15px;
    }

    .about-us__image-container {
        grid-row: 2;
        max-width: 283px;
        justify-self: center;
        margin-bottom: 23px;
    }
}