.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: var(--regular);
    color: var(--black);
}

.header__logo-span {
    color: #939393;
}

.header__link {
    cursor: pointer;
    text-decoration: none;
    font-family: var(--medium);
    color: var(--black);
}

.header__button {
    cursor: pointer;
    background-color: var(--white);
    font-family: var(--regular);
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 5px;
}

.header__burger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.header__burger-button {
    position: relative;
    background-color: #39515E;
    border-radius: 1px;
    transition: 0.3s;
}

.hero {
    display: grid;
}

.hero__title {
    display: inline-block;
    font-family: var(--semi-bold);
    color: var(--black);
}

.hero__description {
    color: #8F95A5;
}

.hero__button {
    background-color: #263238;
    color: var(--white);
    border: none;
    cursor: pointer;
}

.hero__image-container {
    margin: auto;
}

.hero__image {
    width: 100%;
    height: auto;
}


@media (min-width: 993px) {
    .header {
        padding: 55px 130px 51px;
    }

    .header__logo {
        font-size: 36px;
    }

    .header__link {
        margin-right: 20px;
        font-size: 20px;
    }

    .header__link:nth-child(3n) {
        margin-right: 40px;
    }

    .header__link:last-child {
        margin-right: 0;
    }

    .header__button {
        padding: 17px 57px;
        font-size: 24px;
    }

    .header__burger {
        display: none;
    }

    .hero {
        margin-bottom: 103px;
        padding: 0 123px 0 130px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
    }

    .hero__title {
        margin: 0 38px 58px 0;
        font-size: 64px;
        max-width: 386px;
    }

    .hero__icon {
        margin-bottom: 28px;
        width: 85px;
        height: 85px;
    }

    .hero__description {
        margin: 0 0 65px;
        font-family: var(--regular);
        font-size: 24px;
        max-width: 632px;
    }

    .hero__button {
        padding: 32px 118px;
        font-family: var(--regular);
        font-size: 36px;
        border-radius: 15px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .header {
        padding: 25px 31px 68px;
    }

    .header__logo {
        font-size: 30px;
    }

    .header__link {
        margin-right: 15px;
        font-size: 16px;
    }

    .header__link:nth-child(3n) {
        margin-right: 30px;
    }

    .header__link:last-child {
        margin-right: 0;
    }

    .header__button {
        padding: 12px 40px;
        font-size: 18px;
    }

    .header__burger {
        display: none;
    }

    .hero {
        margin-bottom: 60px;
        padding: 0 21px 0 29px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
    }

    .hero__title {
        margin: 0 12px 42px 0;
        font-size: 48px;
        max-width: 290px;
    }

    .hero__icon {
        width: 59px;
        height: 59px;
    }

    .hero__description {
        margin: 0 0 40px;
        font-family: var(--regular);
        font-size: 20px;
        max-width: 420px;
    }

    .hero__button {
        padding: 22px 79px;
        font-family: var(--regular);
        font-size: 24px;
        border-radius: 5px;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .header {
        padding: 40px 40px 50px;
    }

    .header__logo {
        font-size: 30px;
    }

    .header__link, .header__button {
        display: none;
    }

    .header__burger {
        align-self: flex-start;
    }

    .header__burger-button {
        width: 30px;
        height: 3px;
    }

    .header__burger-button::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #39515E;
        transition: 0.3s;
        border-radius: 1px;
    }

    .header__burger-button::after {
        content: '';
        position: absolute;
        width: 21px;
        height: 3px;
        background-color: #39515E;
        transition: 0.3s;
        border-radius: 1px;
    }

    .header__burger-button::before {
        top: 6px;
    }

    .header__burger-button::after {
        top: 12px;
    }

    .hero {
        margin-bottom: 80px;
        padding: 0 16px 0 39px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
    }

    .hero__title {
        margin: 0 0 25px;
        font-size: 36px;
        max-width: 217px;
    }

    .hero__icon {
        width: 51px;
        height: 51px;
    }

    .hero__description {
        margin: 0 0 33px;
        font-family: var(--regular);
        font-size: 16px;
        max-width: 340px;
    }

    .hero__button {
        padding: 19px 67px;
        font-family: var(--regular);
        font-size: 18px;
        border-radius: 5px;
    }
}


@media (min-width: 321px) and (max-width: 575px) {
    .header {
        padding: 39px 50px 11px 32px;
    }

    .header__logo {
        font-size: 30px;
    }

    .header__link, .header__button {
        display: none;
    }

    .header__burger-button {
        width: 42px;
        height: 4px;
    }

    .header__burger-button::before{
        content: '';
        position: absolute;
        width: 42px;
        height: 4px;
        background-color: #39515E;
        transition: 0.3s;
        border-radius: 1px;
    }

    .header__burger-button::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: #39515E;
        transition: 0.3s;
        border-radius: 1px;
    }

    .header__burger-button::before {
        top: -10px;
    }

    .header__burger-button::after {
        top: 10px;
    }

    .hero {
        margin-bottom: 112px;
        padding: 0 42px;
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;
        justify-items: center;
    }

    .hero__info {
        text-align: center;
    }

    .hero__title {
        margin: 0 0 28px;
        font-size: 34px;
        max-width: 491px;
    }

    .hero__title-indent {
        display: none;
    }

    .hero__icon {
        display: none;
    }

    .hero__description {
        margin: 0 0 38px;
        font-family: var(--regular);
        font-size: 16px;
    }

    .hero__button {
        padding: 24px 101px;
        font-family: var(--medium);
        font-size: 18px;
        border-radius: 5px;
    }

    .hero__image-container {
        order: -1;
    }
}


@media (max-width: 320px) {
    .header {
        padding: 36px 15px 29px;
    }

    .header__logo {
        font-size: 24px;
    }

    .header__link, .header__button {
        display: none;
    }

    .header__burger-button {
        width: 34px;
        height: 3px;
    }

    .header__burger-button::before{
        content: '';
        position: absolute;
        width: 34px;
        height: 3px;
        background-color: #39515E;
        transition: 0.3s;
        border-radius: 1px;
    }

    .header__burger-button::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 3px;
        background-color: #39515E;
        transition: 0.3s;
        border-radius: 1px;
    }

    .header__burger-button::before {
        top: -7px;
    }

    .header__burger-button::after {
        top: 7px;
    }

    .hero {
        margin-bottom: 70px;
        padding: 0 10px;
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;
        justify-items: center;
    }

    .hero__info {
        text-align: center;
    }

    .hero__title {
        margin: 0 0 20px;
        font-size: 24px;
    }

    .hero__title-indent {
        display: none;
    }

    .hero__icon {
        display: none;
    }

    .hero__description {
        margin: 0 0 35px;
        font-family: var(--regular);
        font-size: 14px;
    }

    .hero__button {
        padding: 18px 99px;
        font-family: var(--medium);
        font-size: 16px;
        border-radius: 5px;
    }

    .hero__image-container {
        order: -1;
    }
}