.skills__title {
    text-align: center;
}

.skills__offers {
    display: grid;
}

.skills__offer {
    display: grid;
    background-color: var(--skills-block-bg);
    border-radius: 10px;
}

.skills__offer-title {
    font-weight: 600;
    color: var(--accent-color);
    letter-spacing: 0.015em;
}

.skills__offer-button {
    background-color: var(--accent-color);
    font-weight: 500;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    align-self: flex-end;
}


@media (min-width: 993px) {
    .skills {
        padding: 0 130px;
        margin-bottom: 252px;
    }

    .skills__title {
        margin: 0 0 115px;
        font-size: 48px;
    }

    .skills__offers {
        grid-template: repeat(2, auto) / repeat(3, 1fr);
        gap: 20px 18px;
    }

    .skills__offer {
        padding: 0 45px;
    }

    .skills__offer--speaking {
        grid-row: span 2;
        grid-template-rows: 390px repeat(2, auto);
    }

    .skills__offer--writing,
    .skills__offer--reading {
        grid-template-rows: 293px repeat(2, auto);
    }

    .skills__offer--listening {
        padding-top: 44px;
        grid-column: span 2;
        grid-template: repeat(2, auto) / repeat(2, 1fr);
    }

    .skills__offer-image--speaking {
        max-width: 390px;
        align-self: center;
    }

    .skills__offer-image--writing {
        max-width: 293px;
        align-self: center;
    }

    .skills__offer-image--reading {
        max-width: 371px;
        align-self: center;
    }

    .skills__offer-image--listening {
        max-width: 382px;
        grid-column: 2;
        grid-row: 1 / span 2;
        align-self: flex-end;
    }

    .skills__offer-info--speaking {
        margin-top: 30px;
    }

    .skills__offer-title {
        margin: 0 0 20px;
        font-size: 30px;
    }

    .skills__offer-description {
        margin: 0 0 35px;
        font-size: 16px;
        line-height: 24px;
    }

    .skills__offer-button {
        margin-bottom: 45px;
        padding: 15px 51px;
        font-size: 20px;
        max-width: 218px;
    }

    .skills__offer-btn--large {
        margin-bottom: 92px;
        padding: 16px 63px;
        font-size: 18px;
        max-width: 230px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .skills {
        padding: 0 30px;
        margin-bottom: 106px;
    }

    .skills__title {
        margin: 0 0 80px;
        font-size: 36px;
    }

    .skills__offers {
        grid-template: repeat(2, auto) / repeat(3, 1fr);
        gap: 13px;
    }

    .skills__offer {
        padding: 0 20px;
    }

    .skills__offer--speaking {
        grid-row: span 2;
        grid-template-rows: 260px repeat(2, auto);
    }

    .skills__offer--writing,
    .skills__offer--reading {
        grid-template-rows: 205px repeat(2, auto);
    }

    .skills__offer--listening {
        padding-top: 33px;
        grid-column: span 2;
        grid-template: repeat(2, auto) / repeat(2, 1fr);
    }

    .skills__offer-image--speaking {
        max-width: 260px;
        align-self: center;
    }

    .skills__offer-image--writing {
        max-width: 205px;
        align-self: center;
        justify-self: flex-end;
    }

    .skills__offer-image--reading {
        max-width: 243px;
        align-self: center;
        justify-self: flex-start;
    }

    .skills__offer-image--listening {
        max-width: 254px;
        grid-column: 2;
        grid-row: 1 / span 2;
        align-self: center;
    }

    .skills__offer-info--speaking {
        margin-top: 30px;
    }

    .skills__offer-title {
        margin: 0 0 20px;
        font-size: 22px;
    }

    .skills__offer-description {
        margin: 0 0 25px;
        font-size: 14px;
        line-height: 21px;
    }

    .skills__offer-button {
        margin-bottom: 30px;
        padding: 16px 42px;
        font-size: 18px;
        max-width: 196px;
    }

    .skills__offer-btn--large {
        margin-bottom: 52px;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .skills {
        padding: 0 35px;
        margin-bottom: 52px;
    }

    .skills__title {
        margin: 0 0 65px;
        font-size: 30px;
    }

    .skills__offers {
        grid-template: repeat(2, auto) / repeat(3, 1fr);
        gap: 10px;
    }

    .skills__offer {
        padding: 0 15px;
    }

    .skills__offer--speaking {
        grid-row: span 2;
        grid-template-rows: 214px repeat(2, auto);
    }

    .skills__offer--writing,
    .skills__offer--reading {
        grid-template-rows: 200px repeat(2, auto);
    }

    .skills__offer--listening {
        padding-top: 26px;
        grid-column: span 2;
        grid-template: repeat(2, auto) / repeat(2, 1fr);
    }

    .skills__offer-image--speaking {
        max-width: 214px;
        align-self: center;
    }

    .skills__offer-image--writing {
        max-width: 200px;
        align-self: center;
    }

    .skills__offer-image--reading {
        max-width: 216px;
        align-self: center;
    }

    .skills__offer-image--listening {
        max-width: 202px;
        grid-column: 2;
        grid-row: 1 / span 2;
        align-self: center;
    }

    .skills__offer-title {
        margin: 0 0 15px;
        font-size: 20px;
    }

    .skills__offer-description {
        margin: 0 0 20px;
        font-size: 13px;
        line-height: 20px;
    }

    .skills__offer-button {
        margin-bottom: 20px;
        padding: 14px 43px;
        font-size: 16px;
        max-width: 178px;
    }

    .skills__offer-btn--large {
        margin-bottom: 37px;
    }
}


@media (min-width: 321px) and (max-width: 575px) {
    .skills {
        padding: 0 33px;
        margin-bottom: 84px;
    }

    .skills__title {
        margin: 0 0 60px;
        font-size: 30px;
    }

    .skills__offers {
        grid-template: repeat(2, minmax(534px, 550px)) / repeat(2, auto);
        gap: 34px 30px;
    }

    .skills__offer {
        grid-template-rows: 1fr 1.5fr auto;
        padding: 35px 20px;
    }

    .skills__offer-image--speaking {
        max-width: 185px;
    }

    .skills__offer-image--writing {
        max-width: 182px;
    }

    .skills__offer-image--reading {
        max-width: 198px;
    }

    .skills__offer-image--listening {
        max-width: 206px;
    }

    .skills__offer-title {
        margin: 15px 0;
        font-size: 18px;
    }

    .skills__offer-description {
        margin: 0 0 30px;
        font-size: 12px;
        line-height: 18px;
    }

    .skills__offer-button {
        padding: 14px 54px;
        font-size: 14px;
        max-width: 200px;
        justify-self: flex-start;
    }
}


@media (max-width: 320px) {
    .skills {
        padding: 0 15px;
        margin-bottom: 50px;
    }

    .skills__title {
        margin: 0 0 62px;
        font-size: 24px;
    }

    .skills__offers {
        grid-template: repeat(4, auto) / 1fr;
        row-gap: 21px;
    }

    .skills__offer {
        grid-template-rows: repeat(3, auto);
        padding: 15px 15px 45px;
    }

    .skills__offer-image-container {
        margin-bottom: 45px;
        justify-self: center;
    }

    .skills__offer-image--speaking {
        max-width: 213px;
    }

    .skills__offer-image--writing {
        max-width: 204px;
    }

    .skills__offer-image--reading {
        max-width: 236px;
    }

    .skills__offer-image--listening {
        max-width: 232px;
    }

    .skills__offer-info {
        align-self: flex-end;
    }

    .skills__offer-title {
        margin: 0 0 15px;
        font-size: 18px;
    }

    .skills__offer-description {
        margin: 0 0 30px;
        font-size: 13px;
        line-height: 20px;
    }

    .skills__offer-button {
        padding: 14px 42px;
        font-size: 14px;
        max-width: 178px;
    }
}