@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* colors */
    --white-color: #FFFFFF;
    --black-color: #000000;
    --description-color: #8F95A5;
    --accent-color: #263238;
    --logo-color: #939393;
    --burger-btn-bg-color: #39515E;
    --skills-block-bg: #F5F5F5;
    --feature-title-color: #2A3246;
}

.title {
    font-weight: 600;
    color: var(--black-color);
}

.description {
    font-weight: 400;
    color: var(--description-color);
}